{% extends 'base.html' %}
{% block main %}
     <tr>
        <td height="22" valign="top" class="word_orange">当前位置：系统设置 > 书架设置 &gt;&gt;&gt;</td>
    </tr>
    <form action="/index/addbookcase/" method="post">
        {% csrf_token %}
        <table width="98%" height="38" border="0" cellpadding="0" cellspacing="0"
               bgcolor="#E3F4F7" class="tableBorder_gray">
            <tr>
                <td>书架名称：</td>
                <td><input type="text" name="brname" id=""></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="添加"></td>
            </tr>
        </table>
    </form>

{% endblock main %}