{% extends 'base.html' %}
{% block main %}
<tr>
                    <td height="27" valign="top" style="padding:5px;" class="word_orange">当前位置：图书借还 &gt; 图书借阅 &gt;&gt;&gt;</td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="padding:5px;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <form name="form1" method="post" action="/index/borrowings/">
                            {% csrf_token %}
                                <tr>
                                    <td height="47" background="/static/borrowBackRenew.gif">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="72" align="center" valign="top" background="/static/main_booksort_1.gif"
                                        bgcolor="#F8BF73">
                                        <table width="96%" border="0" cellpadding="1" cellspacing="0"
                                               bordercolor="#FFFFFF" bgcolor="#F8BF73">
                                            <tr>
                                                <td valign="top" bgcolor="#F8BF73">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                           bgcolor="#FFFFFF">
                                                        <tr>
                                                            <td>
                                                                <table width="90%" height="21" border="0"
                                                                       cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td width="24%" height="18"
                                                                            style="padding-left:7px;padding-top:7px;">
                                                                            <img src="/static/reader_checkbg.jpg"
                                                                                 width="142" height="18"></td>
                                                                        <td width="76%" style="padding-top:7px;">读者条形码：
                                                                            <input name="barcode" type="text"
                                                                                   id="barcode" value="{{ treader.id }}" size="24">
                                                                        <input name="Button" type="submit" class="btn_grey" value="确定" onClick="checkreader(form1)"></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="13" align="left" style="padding-left:7px;">
                                                                <hr width="90%" size="1">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table width="96%" border="0" cellpadding="0"
                                                                       cellspacing="0">
                                                                    <tr>
                                                                        <td height="27">姓&nbsp;&nbsp;&nbsp;&nbsp;名：
                                                                            <input name="readername" type="text"
                                                                                   id="readername" value="{{ treader.rname }}"></td>
                                                                        <td>性&nbsp;&nbsp;&nbsp;&nbsp;别：
                                                                            <input name="sex" type="text" id="sex"
                                                                                   value=""></td>
                                                                        <td>读者类型：
                                                                            <input name="readerType" type="text"
                                                                                   id="readerType" value="{{ treader.rtype.rttype }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="27">证件类型：
                                                                            <input name="paperType" type="text"
                                                                                   id="paperType" value="{{ treader.rcardtype }}"></td>
                                                                        <td>证件号码：
                                                                            <input name="paperNo" type="text"
                                                                                   id="paperNo" value="{{ treader.rcardnum }}"></td>
                                                                        <td>可借数量：
                                                                            <input name="number" type="text" id="number"
                                                                                   value="{{ treader.rtype.rtnum }}" size="17">
                                                                            册
                                                                            &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="32" bgcolor="#ff7f50">&nbsp;添加依据：
                                                    图书条形码
                                                    <input name="noborder" type="text" id="noborder" class="noborder" value="">
                                                    图书名称&nbsp;&nbsp;
                                                    <input name="bookname" type="text" class="noborder" id="bookname" value="">
                                                    <input name="operator" type="hidden" id="operator" value="java1234">
                                                    <input name="Button" type="submit" class="btn_grey" value="完成借阅"
                                                           onClick="window.location.href='bookBorrow.jsp'">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" bgcolor="#FCEC9A" style="padding:5px">
                                                    <table width="99%" border="1" cellpadding="0" cellspacing="0"
                                                           bordercolor="#FFFFFF" bordercolorlight="#FFFFFF"
                                                           bordercolordark="#F6B83B" bgcolor="#FFFFFF">
                                                        <tr>
                                                            <td height="32" colspan="3" align="center" bgcolor="#ff7f50"><strong>可借图书</strong>
                                                        </tr>
                                                        <tr align="center" bgcolor="#F9D16B">
                                                            <td width="10%" height="25">编号</td>
                                                            <td width="30%" height="25">图书名称</td>
                                                            <td width="30%">出版社</td>
                                                            <td width="30%">书架</td>
                                                        </tr>
                                                        {% for tbw in tbok %}
                                                            {% if tbw.bborrow == 0 %}
                                                             <tr>
                                                                 <td>{{ tbw.id }}</td>
                                                                 <td>{{ tbw.bname }}</td>
                                                                 <td>{{ tbw.bpublish.hname }}</td>
                                                                 <td>{{ tbw.bbookrack.brname }}</td>
                                                             </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </table>

                                                </td>
                                            </tr>

                                        </table>
                                    </td>

                                </tr>
                                <tr>
                                    <td height="19" background="/static/main_booksort_2.gif">&nbsp;</td>
                                </tr>
                            </form>
                        </table>
                    </td>
                </tr>
{% endblock %}