{% extends 'base.html' %}
{% block main %}
<tr>
                    <td height="510" valign="top" style="padding:5px;">
                        <table width="98%" height="487" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="22" valign="top" class="word_orange">当前位置：图书管理 &gt; 图书类型设置 &gt;&gt;&gt;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table width="91%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="82%">&nbsp;</td>
                                            <td width="18%" align="right">
                                                <a href="/index/addbooktype/">添加图书类型信息</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="91%" border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF"
                                           bordercolordark="#F6B83B" bordercolorlight="#FFFFFF">
                                        <tr align="center" bgcolor="#e3F4F7">
                                            <td width="35%" bgcolor="#F9D16B">图书类型名称</td>
                                            <td width="35%" bgcolor="#F9D16B">可借天数</td>
                                            <td width="16%" bgcolor="#F9D16B">修改</td>
                                            <td width="14%" bgcolor="#F9D16B">删除</td>
                                        </tr>
                                        {% for booktype in booktypes %}
                                        <tr>
                                            <td style="padding:5px;">{{ booktype.bttype }}</td>
                                            <td style="padding:5px;">{{ booktype.btday }}</td>
                                            <td align="center"><a href="/index/changebooktype/?ID={{ booktype.id }}">修改</a>
                                            </td>
                                            <td align="center"><a href="/index/types/?action=0&ID={{ booktype.id }}">删除</a></td>
                                        </tr>
                                        {% endfor %}


                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
{% endblock %}