{% extends 'base.html' %}
{% block main %}
<tr>
                    <td height="20" align="right" valign="middle" class="word_orange">当前位置：首页 &gt;&gt;&gt;&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="57" background="/static/main_booksort.gif">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="72" valign="top">
                                    <table width="100%" height="63" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="2%" rowspan="2">&nbsp;</td>
                                            <td width="96%" align="center" valign="top">
                                                <table class="table1" width="90%" border="1" cellpadding="0" cellspacing="0"
                                                       bordercolor="#FFFFFF" bordercolordark="#B7B6B6"
                                                       bordercolorlight="#FFFFFF">
                                                    <tr align="center">
                                                        <td width="5%" height="25">排名</td>
                                                        <td width="10%">图书条形码</td>
                                                        <td width="24%">图书名称</td>
                                                        <td width="10%">图书类型</td>
                                                        <td width="10%">书架</td>
                                                        <td width="14%">出版社</td>
                                                        <td width="11%">作者</td>
                                                    </tr>
                                                    {% for tb in tbooks %}
                                                            <tr>
                                                                <td height="25" align="center">{{ forloop.counter }}</td>
                                                                <td style="padding:5px;" align="center">&nbsp;{{ tb.id }}</td>
                                                                <td style="padding:5px;" align="center">{{ tb.bname }}</td>
                                                                <td style="padding:5px;" align="center">{{ tb.btype.bttype }}</td>
                                                                <td align="center">&nbsp;{{ tb.bbookrack.brname }}</td>
                                                                <td align="center">&nbsp;{{ tb.bpublish.hname }}</td>
                                                                <td width="11%" align="center">{{ tb.bwriter.wname }}</td>
                                                            </tr>
                                                    {% endfor %}
                                                </table>

                                                <table class="table2" width="10%" border="1" cellpadding="0" cellspacing="0"
                                                           bordercolor="#FFFFFF" bordercolordark="#B7B6B6"
                                                           bordercolorlight="#FFFFFF">
                                                        <tr align="center">
                                                            <td width="8%">借阅次数</td>
                                                        </tr>
                                                        {% for tc in tbc_count %}
                                                            <tr>
                                                                <td width="33%" height="42" align="center">
                                                                    {{ tc }}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                </table>
                                            </td>
                                            <td width="2%" rowspan="2">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right" valign="middle"><a
                                                    href=borrow.do?action=bookBorrowSort><img src="/static/more.GIF"
                                                                                              width="50" height="20"
                                                                                              border="0">&nbsp;</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
{% endblock %}